.back {
  background:url(../../../../../../Downloads/regis.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
} 

.card-p-4-shadow-lg{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 30px;
}