<div class="dashboard-container">

  <div class="header">
    <div>
      <h1>User Dashboard</h1>
      <p>Your Profile Information</p>
    </div>

    <button class="donor-btn">Find Donor</button>
  </div>

  <div class="dashboard-grid">

    <!-- Profile Card -->
    <div class="card profile-card">
      <h2>Welcome! {{user.name}}</h2>

      <p><strong>Name:</strong><br>{{user.name}}</p>
      <p><strong>Age:</strong><br>{{user.age}}</p>
      <p><strong>Blood Group:</strong><br>{{user.bloodGroup}}</p>
      <p><strong>City:</strong><br>{{user.city}}</p>
    </div>

    <!-- Recent Request -->
    <div class="card">
      <h2>Your Recent Requests</h2>
      <p>example (trying blood requests)</p>
    </div>

    <!-- Health Status -->
    <div class="card health-card">

      <h2>Donation Status</h2>

      <div class="health-row">
        <span>Last Donation Date:</span>
        <strong>{{lastDonationDate}}</strong>
      </div>

      <div class="health-row">
        <span>Eligible Again In:</span>
        <strong>{{eligibleDays}} Days</strong>
      </div>

      <div class="health-row">
        <span>Eligibility Countdown:</span>
        <strong>{{countdown}}</strong>
      </div>

      <div class="progress-bar">
        <div class="progress" [style.width.%]="progress"></div>
      </div>

      <p class="progress-text">{{countdown}}</p>

    </div>

  </div>

</div>